*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.main-wrapper {
  height: 100vh;
  display: flex;
}

.nav-bar {
  width: 19%;
  height: 100vh;
  border-right: 2px solid #dedbdb;
  position: fixed;
  overflow-x: hidden;
}

.nav-bar img {
  width: 130px;
  height: 130px;
  margin: -1rem 0 0 1.5rem;
}

.nav-options {
    display: flex;
    padding-bottom: 2rem;
}

.nav-options small {
    padding-left: 0.7rem;
}

.nav-options-menu {
    padding-top: 7rem;
}

.nav-selections {
    padding-left: 1.8rem;
}

.stories-wrapper {
  padding: 1.2rem 1rem 0.4rem 0.4rem;
  width: 30%;
  height: 100vh;
}

.stories-wrapper h6 {
  padding-top: 1rem;
}

.main-area {
  width: 100%;
  height: 100vh;
  padding: 3rem 12rem 1rem 25rem;
}

.user-card {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.user-data {
  margin-left: 0.3rem;
  flex-wrap: wrap;
}

.user-data .user-handle {
  font-size: 0.8rem;
  font-weight: 500;
}

.user-data .user-fullname {
  font-size: 0.8rem;
  font-weight: 800;
  color: #838282;
}

.image-wrapper img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.image-wrapper {
  padding: 5px;
  background-image: url("../assets/images/download.png");
  background-size: cover;
  background-position: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  object-fit: cover;
  /* align-items: center;
    justify-content: center;
    background-image: url("../assets/images/download.png");
    background-size: cover;
    background-position: center; */
}

#dot {
  font-size: 5px;
}

.user-feeds {
    padding: 2px 2px 0 2px;
    height: 300px;
    margin: 10px 0 5px 0;
    object-fit: cover;
}

.user-feeds-reactions {
    display: flex;
}

.reaction-options {
    display: flex;
    padding-bottom: 0.5rem;
}

.middle-reactions {
    padding-left: 0.7rem;
}

.saved-icon {
    padding-left: 22rem;
}